<!DOCTYPE html>
<html>
<head>
    <title>Django Login System</title>
    <style>
        body { font-family: Arial; background-color: #f4f4f4; }
        .container { width: 400px; margin: auto; background: white; padding: 20px; }
        .msg { color: red; }
    </style>
</head>
<body>

<div class="container">
    {% for message in messages %}
        <p class="msg">{{ message }}</p>
    {% endfor %}

    {% block content %}{% endblock %}
</div>

<script>
    window.onload = function() {
        console.log("Page Loaded");
    }
</script>

</body>
</html>
